// ============================================
// Typography
// ============================================
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Headings
h1, .h1 {
  font-size: $font-size-4xl;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  
  @include respond-below(md) {
    font-size: $font-size-3xl;
  }
}

h2, .h2 {
  font-size: $font-size-3xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  
  @include respond-below(md) {
    font-size: $font-size-2xl;
  }
}

h3, .h3 {
  font-size: $font-size-2xl;
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  
  @include respond-below(md) {
    font-size: $font-size-xl;
  }
}

h4, .h4 {
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}

h5, .h5 {
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}

h6, .h6 {
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-normal;
}

// Body Text
.text-body-1 {
  font-size: $font-size-base;
  line-height: $line-height-normal;
}

.text-body-2 {
  font-size: $font-size-sm;
  line-height: $line-height-normal;
}

.text-caption {
  font-size: $font-size-xs;
  line-height: $line-height-normal;
  color: $color-text-secondary;
}

// Text Colors
.text-primary {
  color: $color-text-primary;
}

.text-secondary {
  color: $color-text-secondary;
}

.text-disabled {
  color: $color-text-disabled;
}

// Text Utilities
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-truncate {
  @include text-truncate;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Font Weights
.font-light {
  font-weight: $font-weight-light;
}

.font-normal {
  font-weight: $font-weight-normal;
}

.font-medium {
  font-weight: $font-weight-medium;
}

.font-semibold {
  font-weight: $font-weight-semibold;
}

.font-bold {
  font-weight: $font-weight-bold;
}
